.sidebar {
  dispay: none;
}
@media (min-width:8px) {
  .sidebar {
    position: fixed;
    top: 0;
    width: 230px;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    display: block;
    background-color: rgb(50, 55, 61);
    transition: transform 200ms ease;
    border-right: 1px solid #eee;

    .header {
      height: 56px;
      display: table-cell;
      width: 230px;
      color: #c3cfd8;
      padding-left: 10px;
      vertical-align: middle;
      background-color: #272c30;
      border-bottom: 1px solid transparent;
      transition: transform 200ms ease;
    }
    /** end header*/
    .content {
      position: absolute;
      top: 56px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      .nav {
        > ul {
          margin-left: 0;
          margin-top: 15px;
          padding: 0;
          overflow: hidden;
          .active {
            > a {
              background-color: transparent;
              color: #ffffff;
              text-decoration: none;
              > i {
                color: #fff;
              }
            }
          }
          /** end active*/
          > li {
            display: list-item;
            min-width: 40px;
            > a {
              overflow: hidden;
              color: rgb(160,178,197);
              line-height: 40px;
              font-size: 14px;
              padding: 0 10px 0 20px;
              &:hover {
                background-color: transparent;
                color: #ffffff;
                text-decoration: none;
                > i {
                  color: #fff;
                }
              }
              &:focus {
                background-color: transparent;
              }
              > i {
                color: rgb(123,140,157);
                font-size: 16px;
              }
              > span {
                font-size: 14px;
                line-height: 40px;
                margin-left: 10px;
              }
              .arrow {
                line-height: 40px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      /** nav*/

    }
    /**end content*/

  }

  .secondary {
    background-color: #272c30 !important;
    .header {
      > img {
        /**TODO:实现logo的显示*/
        display: none;
      }
    }
    .content {
      .nav {
        > ul {
          li {
            a {
              span {
                margin-left: 30px !important;
                opacity: 0;
              }
            }
          }
        }
      }
    }

  }
}
